---
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>ReNomada - Libera espacio. Reduce tu huella.</title>
		<meta name="description" content="Regala lo que te sobra, encuentra lo que te falta y conecta con otros viajeros a tu alrededor." />

		<!-- Open Graph -->
		<meta property="og:type" content="website">
        <meta property="og:url" content="https://renomada.com/"> 
		<meta property="og:title" content="ReNomada - Libera espacio. Reduce tu huella.">
        <meta property="og:description" content="Regala lo que te sobra, encuentra lo que te falta y conecta con otros viajeros a tu alrededor.">
        <meta property="og:image" content="https://renomada.com/social.jpg"> 
		<meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://renomada.com/"> 
		<meta property="twitter:title" content="ReNomada - Libera espacio. Reduce tu huella.">
        <meta property="twitter:description" content="Regala lo que te sobra, encuentra lo que te falta y conecta con otros viajeros a tu alrededor.">
        <meta property="twitter:image" content="https://renomada.com/social.jpg"> 
		
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
